*{box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  position:absolute;
  width:100%;
  overflow-y:hidden;
  top:0;
  bottom:0;
}

.pet{
  border-radius: 10px;
  width: 20%;
  height: 5%;  
}

.container{
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 30px 60px 30px;
    border-radius: 10px;
}

.button{
    padding: 4%;
    background: lightpink;
    color: rgb(96, 7, 85);
    cursor:grabbing;
    min-width: 82px;
    min-height: 38px;
    border-radius: 4px;
}

.button:hover{
    background: pink;
}

.button:active{
    background: lightcoral;
}

.barra{
    width: 20%;
    background: lightpink;
    margin: 3px;
    padding: 1%;
}

.Status{
    float:inline-start;
    margin: 10px 25px;
    width: 120px;
}

#catbutton{
    padding: 8%;
    color: black;
    position: relative;
    font-size: medium;
    color: rgb(96, 7, 85);
    
}

#catimagen{
    padding: 0px 0px;
    position: relative;
    left: 5%;
    top: 7%;
}

#message{
    color:grey;
}

