*{box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body{
    overflow: hidden;
  }
  
.pet{
    border-radius: 10px;
    width: 20%;
    height: 20%;
  }
  
.cat{
    width: 400px;
  }

h2 {
    color:  rgb(215, 114, 203);
    border-bottom: 1px solid #aaa;
    margin: 15px 0;
    padding: 5px 0;
    position: relative;
  }
  
.button{
    padding: 6px 50px;
    background: lightpink;
    color: rgb(198, 30, 178);
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(255, 182, 253)), color-stop(1, rgb(253, 171, 250)) );
    box-shadow: inset 0px 1px 0px #ed7ff1, 0px 1px 0px #fff;
    border-radius: 5px;
  }
  
  .button:hover{
    background: rgb(249, 143, 219);
  }
  
  .button:active{
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(253, 144, 249)), color-stop(1, rgb(253, 128, 249)) );
    box-shadow: inset 0px 1px 0px #f773fb, 0px 1px 0px #fff;
    border-radius: 5px;
    color: aliceblue;
  }
  
  .barra{
    width: 100px;
    background: #a4e2e3;
    margin: 5px 10px;
    border-radius:4px;
    padding: 3px 3px;
  }
  
  .lado{
    float:left;
    margin: 10px 25px;
    width: 120px;
  }
  
  #catbutton{
    padding: 115px 0px;
  }
  
  #catimage{
    padding: 0px 0px;
    position: relative;
    left:200px;
    top: 100px;
  }
  
  #message{
    color: rgb(255, 0, 115);
  }

